@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  :root {
    --background: 220 40% 5%;
    --foreground: 0 0% 98%;
    --card: 220 40% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 220 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 20% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 20% 12%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 220 20% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 15%;
    --input: 220 20% 15%;
    --ring: 262.1 83.3% 57.8%;
    --chart-1: 262 84% 58%;
    --chart-2: 220 20% 15%;
    --chart-3: 193 84% 58%;
    --chart-4: 49 84% 58%;
    --chart-5: 355 84% 58%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262.1 83.3% 57.8%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 262.1 83.3% 57.8%;
  }
  .dark {
    --background: 220 40% 5%;
    --foreground: 0 0% 98%;
    --card: 220 40% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 220 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 20% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 20% 12%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 220 20% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 15%;
    --input: 220 20% 15%;
    --ring: 262.1 83.3% 57.8%;
    --chart-1: 262 84% 58%;
    --chart-2: 220 20% 15%;
    --chart-3: 193 84% 58%;
    --chart-4: 49 84% 58%;
    --chart-5: 355 84% 58%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262.1 83.3% 57.8%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .admin-sidebar-menu-item {
    @apply relative overflow-hidden;
  }
  .admin-sidebar-menu-item > a {
    @apply transform transition-transform duration-300 ease-in-out;
  }
  .admin-sidebar-menu-item:hover > a {
    @apply translate-x-2;
  }

  .flip-card {
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}
